.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper-button-prev {
  background-image: url('/images/arrow-left.svg');
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
  margin-left: 1.5rem;
}

.swiper-button-next {
  background-image: url('/images/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;
  margin-right: 1.5rem;
}

.swiper-button-prev::after, .swiper-button-next::after {
  display: none;
}

.swiper-pagination > .swiper-pagination-bullet {
  width: 0.85rem;
  height: 0.85rem;
  opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-pagination-bullet {
  background-color: #999999;
}

.swiper-pagination-bullet-active {
  background-color: #FFBA08;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .swiper-button-prev {
    margin-left: 0.15rem;
  }
  .swiper-button-next {
    margin-right: 0.15rem; 
  }
  .swiper-button-prev, .swiper-button-next {
    background-size: 45% auto;
  }
}